/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

div {
  font-family: Helvetica;
  font-size: 150%;
  color: #ffd63e;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Record your solutions here:
   #1 - div
   #2 - #unique
   #3 - .chuuuuu
   #4 - h1
   #5 - body

   e.g. - .pika               */
